 Create a markdown cell with the title of the notebook. (1 pt)

# Data Science Tools and Ecosystem

Create a markdown cell for an introduction. (1 pt)

### Introduction

In this notebook are used a combination of markdown text and code to exemplify on how to create a Jupiter Notebook document.

Create a markdown cell to list data science languages. (3 pts)

### The most popular Data Science languages are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. JavaScript
8. Swift

Create a markdown cell to list data science libraries. (3 pts)

### Data Science libraries:
1. NumPy
2. Pandas
3. Matplotlib 
4. SciPy 
5. SciKit-Learn
6. TensorFlow
7. PyTorch
8. Keras
9. Scrapy
10. BeautifulSoup
11. dplyr
12. tidyr
13. readr
14. stringr
15. ggplot2
16. lubridate
17. jsonlite
18. Shiny
19. caret
20. ggraph

Create a markdown cell with a table of Data Science tools. (3 pts)

### Data Science Tools:

| Data Management Tools| Data Integration and Transformation Tools | Data Visualization Tools | Code Asset Management Tools | Development Environments |
| --- | --- | --- | --- | --- |
| Relational Databases - MySQL, PostgreSQL, DB2 | Apache AirFlow | Cognos Analytics | Git | Jupiter Notebooks |
| NoSQL Databases - MangoDB, Apache Casandra | Apache Kafka | Tableau | GitHub | RStudio |
| Big Data Platforms - Apache Hadoop, Apache Spark | | Power BI | | |

Create a markdown cell introducing arithmetic expression examples. (1 pt)

### An arithmetic expression that includes addition, subtraction, multiplication, division, and exponents:

In [2]:
(23 - 14)**3 / (34 + 23**2) * 2

2.5896980461811725

An arithmetic expression as a combination of exponents, addition, and division:

In [3]:
(2**3 + 3**4)/6

14.833333333333334

Create a code cell to multiply and add numbers. (2 pts)

In [1]:
# multiply/add two numbers

a = 23
b = 34
add = a + b
print('add = ', add)
prod = a * b
print('prod = ',prod)

add =  57
prod =  782

Create a code cell to convert minutes to hours. (2 pts)

In [7]:
minutes = 95
hours = minutes / 60
print(round(hours,1))

1.6

Insert a markdown cell to list Objectives. (3 pts)

### Objectives:
- Create a markdown cell with the title of the notebook.
- Create a markdown cell for an introduction.
- Create a markdown cell to list data science languages. 
- Create a markdown cell to list data science libraries.
- Create a markdown cell with a table of Data Science tools. 
- Create a markdown cell introducing arithmetic expression examples.
- Create a code cell to multiply and add numbers. 
- Create a code cell to convert minutes to hours.
- Insert a markdown cell to list Objectives.
- Create a markdown cell to indicate the Authorâ€™s name. 
- Share your notebook through GitHub.
- Take a screenshot of the first page of the notebook.

## Author

Mariana Bujac-Leisz